{
  "presets": [
    ["@babel/preset-env", {
      "targets": {
        "node": "current"
      }
    }]
  ],
  "plugins": [
    "@babel/plugin-transform-classes", 
    "@babel/plugin-proposal-optional-chaining"
  ]
}